{% extends 'base.html.twig' %}

{% block title %}Usuarios {% endblock %}

{% block body %}

    <div class="mb-3">
        Bienvenido {{ app.user.userIdentifier }}
    </div>

    <h1>Tabla Usuarios</h1>

    <table class="table" id="miTabla">
        <thead>
            <tr>
                <th>Id</th>
                <th>Dni</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Ciudad</th>
                <th>Dirección</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.dni }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellidos }}</td>
                <td>{{ usuario.ciudad }}</td>
                <td>{{ usuario.direccion }}</td>
                <td>
                    <a href="{{ path('app_usuarios_show', {'id': usuario.id}) }}">show</a>
                    <a href="{{ path('app_usuarios_edit', {'id': usuario.id}) }}">edit</a>
                    <button class="btn btn-danger delete-btn" data-id="{{ usuario.id }}" data-url="{{ path('app_usuarios_delete', {'id': usuario.id}) }}">Eliminar</button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ path('app_usuarios_new') }}'">Create new</button>
    <a href='{{ path('app_logout') }}'">Logout</a>
   
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- Inicialización de DataTables -->
    <script>
        $(document).ready(function() {
            // Inicialización de DataTable con botones de exportación
            var table = $('#miTabla').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ]
            });

            table.buttons().container().appendTo($('.col-sm-6:eq(0)', table.table().container()));
        });

        // Manejar clic en el botón de eliminar
        $(document).on('click', '.delete-btn', function() {
            var id = $(this).data('id');
            var url = $(this).data('url');
            var token = $(this).data('token');


            $.ajax({
                url: url,
                type: 'DELETE',
                data: {'_token': token},
                success: function(response) {
                    // Actualizar la DataTable o hacer cualquier otra acción necesaria
                    console.log('Elemento eliminado correctamente');
                },
                error: function(xhr, status, error) {
                    console.error('Error al eliminar elemento:', error);
                }
            });
        });
        
    </script>
 
{% endblock %}
